# Lab 2. Data with Python

#### Table of contents

1. Overview
2. Modules and files
    - 2.1. Modules
    - 2.2. Numpy arrays
    - 2.3. Files
3. Pandas
  - 3.1. Explore DataFrame
  - 3.2. Data selection
      - 3.2.1. The `loc` indexer
      - 3.2.2. The `iloc` indexer
4. Matplotlib
5. Quiz 2

## 1. Overview

During this Lab, we will discover some modules of Python and focus on pandas to manipulate DataFrames. We will also look at the module Matplotlib to visualize data. At the end of this lab you should be able to load, read, clean and visualize data for further machine learning processing.

## 2. Modules and files

### 2.1. Modules

A module is a piece of code that's been locked into a file. We usually put varaiables and functions that are within a same theme in the same module. If you want to use these functions you just need to `import` the module. We won't necessarly create modules in this class but there are many pre-defined modules in Python we will use. To illustrate the usage of modules, let's have a look at the module `math`. As expected, `math` includes mathematical functions. In the following code, we import the module `math`.

In [ ]:
import math

After execution, nothing happened... it's usually better than an error. All the functions included in the `math` module have been imported. To use a function you need to write the name of the module followed by the character dot `.` and the name of the function.

In [ ]:
math.sqrt(5)

As you can see the function `sqrt` of the module `math` returns the square root of the number argument. How do I know the name of the functions in `math`, what they do and how many arguments (parameters) are required? You can use the `help()` function to answer these questions. `help` takes the name of the module or a specific method as a parameter.

In [ ]:
help(math)

In [ ]:
help(math.sqrt)

It is also possible to import only a specific function of a module.

In [ ]:
from math import sqrt

In [ ]:
sqrt(5)

Note that the prefix `math.` has disappear. Finaly, you can import all the functions of a module with the wildcard character `*`.

In [ ]:
from math import *
fabs(-2)

Here I imported all functions in `math` and printed the absolute value of -2 with the function `fabs`.

### 2.2. Numpy arrays

Arrays are another very useful data structure for scientific programming. These arrays are provided in the numpy module including a powerful N-dimensional array object, useful linear algebra and more. For example, you can create an array from a regular Python list using the `array()` function. The type of the resulting array is deduced from the type of the elements in the sequences.

In [ ]:
# First import the package
import numpy as np

In [ ]:
a = [1,2,3] # I create the list a
b = np.array(a) # I tranform the list a into a numpy array
b # I print the array b in the interactive window

In [ ]:
a = np.array([1,2,3]) # I create the array a directly
a

Furthermore, the function `array()` transforms sequences of sequences into two-dimensional arrays, sequences of sequences of sequences into three-dimensional arrays, and so on.

In [ ]:
b = np.array([[1.5,2,3], [4,5,6]]) # a 2D array
b

To modify a n-dimesional array (or a list) you must provide the (n) indices in between square brakets.

In [ ]:
a = np.array([1,2,3]) # I create the array a directly
a

In [ ]:
a[1] = 20
a

In [ ]:
b = np.array([[1.5,2,3], [4,5,6]]) # a 2D array
b

In [ ]:
b[0][1] = 20
b

Above we have replaced the element [0,1] of the array `b` with the float number 20.0. There are several ways to initialize N-dimentional arrays.

In [ ]:
np.zeros((3,4)) # a 2D 3x4 array of zeros

In [ ]:
np.ones((2,3,4)) # a 3D 2x3x4 array of ones

In [ ]:
b = np.arange( 4 ) # a 1D array of integer ranging from 0 to 3
b

Arithmetic operators on arrays apply elementwise. A new array is created and filled with the result.

In [ ]:
a = np.array( [20,30,40,50] )
b = np.arange( 4 )
c = a-b
c

In [ ]:
b**2 # Square elementwise b

In [ ]:
10*np.sin(a)

In [ ]:
a<35

Unlike in many matrix languages, the product operator `*` operates elementwise in NumPy arrays. The matrix product can be performed using the `@` operator (in python >=3.5) or the dot function.

In [ ]:
A = np.array( [[1,1],[0,1]] )
B = np.array( [[2,0],[3,4]] )
A * B   # Elementwise product

In [ ]:
A @ B # Matrix product

In [ ]:
A.dot(B) # Another matrix product

For more details, refer to the documetation [Numpy](https://numpy.org/).

### 2.3. Files

To open a file use the function `open()` with the path to the file and opening mode as parameters. Opening mode can be as follow:

- `r` for read
- `w` for write
- `a` for append

Let's look at the sample code below to write in a file.

In [ ]:
my_file = open('file.txt','w')
my_file.write('This is the first line\n')
my_file.write('This is a second line.')
my_file.close()

Here is the line-by-line explanation of the above code:

- We first open the file in writing mode. The first argument of the method `open()` is the path and name of the file we would like to open and the second argument 'w' tells the method we would like to open in writing mode. The result of the operation is stored in the variable `my_file`
- We use the function `write()` with the text we want to write into the file as argument. The method `write()` is performed on the instance of the file we have opened previously `my_file` 
- We write some more text into the file
- Finally, we need to close the file. Note that here the file was created in the same directory as the lab1 Jupyter notebook.

Let say now we want to read the file `file.txt`. Here is the series of commands to achive this.

In [ ]:
my_file = open('file.txt','r')
r = my_file.read()
print(r)
my_file.close()

This is very similar than writing into a file. Here is what is done above:

- We open the file 'file.txt' in reading mode and store it into the variable `my_file`
- The function `read()` applied to `my_file` returns the content of the file. Here the content of `file.txt` is what we have written in it right above
- We print the variable `r` that contains the content of the file
- Finally, we close the file.

We will see below that there are some additional ways to read files.

## 3. Pandas

Pandas is "a software library written for the Python programming language for data manipulation and analysis" [Wikipedia]. We will study some of the useful features of this library. Let's first load it.

In [1]:
import pandas as pd

We often load Pandas as `pd` because of the simple shortcut it provides to call functions as `pd.command`. 

### 3.1. Explore DataFrames

In the directory of Lab2, there is a dataset `periodic_table.csv` that you can load to start exploring Pandas functionalities. You can load the dataframe with the following command.

In [2]:
pt = pd.read_csv('periodic_table.csv')

In the above block of code, we've read in the file `periodic_table.csv` and saved it as a variable `pt`. Let's check the type of this variable.

In [ ]:
type(pt)

This looks like another datatype we haven't discussed yet. In Pandas, there are two main data structures: the first is a DataFrame (like `pt`) and the second is a Series. A DataFrame is a two-dimensional array of values with both row and column indices. A Series is a one-dimensional array of values with one index (similar to a list or an array). A DataFrame represents the entire dataset, including all rows and columns and a Series is essentially a single column within that DataFrame. 

Let's put `pt` on the side and create our own Dataframe and Series.

In [ ]:
solar_system = pd.DataFrame(data = [
['Mercury', '57910', '87.97'], 
['Venus', '57910', '224.7'], 
['Earth', '149600', '365.26'], 
['Mars', '227940', '686.98'], 
['Jupiter', '778330', '4332.71'], 
['Saturn', '1429400', '10759.5'],
['Uranus', '2870990', '30685'],
['Neptune', '4504300', '60190'],
['Pluto', '5913520', '90550']
], columns = ['Planet', 'Distance (km)', 'Orbital period (days)'])

solar_system

We see that a DataFrame is defined as a 2D list taken as argument for the DataFrame method. We note that we can also define the header name (second argument). Now let's define a Series.

In [ ]:
planets = pd.Series(data = ['Mercury','Venus','Earth','Mars','Jupiter','Saturn','Uranus','Neptune','Pluto'])

planets

We verified that a Series is one column of a Dataframe. Note that both Dataframe and Series include a column with indices. This is essentially the difference between Series and Lists. Dataframe also include a header row to describe elements in each column.

One of the first thing any good scientist should do when working with data is to explore it. A good way to accomplish this is to look at the first few rows of data. Calling the `head()` method will display, by default, the first five rows of the DataFrame with the column headers. You can decide how many rows are displayed by passing a number into the parentheses.

In [3]:
pt.head()

,number,name,symbol,atomic number,period,element category,atomic weight,electron configuration,phase,melting point,boiling point,density,electronegativity,vdW radius,crystal structure
0,1.0,Hydrogen,H,1.0,1.0,diatomic nonmetal,1.008000,1s1,gas,13.99,20.271,0.08988,Pauling scale: 2.20,120.0,hexagonal
1,2.0,Helium,He,2.0,1.0,noble gas,4.002602,1s2,gas,0.95,4.222,0.17860,NaN,140.0,hexagonal close-packed (hcp)
2,3.0,Lithium,Li,3.0,2.0,alkali metal,6.940000,[He] 2s1,solid,453.65,1603.000,NaN,Pauling scale: 0.98,182.0,body-centered cubic (bcc)
3,4.0,Beryllium,Be,4.0,2.0,alkaline earth metal,9.012183,[He] 2s2,solid,1560.00,2742.000,NaN,Pauling scale: 1.57,153.0,hexagonal close-packed (hcp)
4,5.0,Boron,B,5.0,2.0,metalloid,10.810000,[He] 2s2 2p1,solid,2349.00,4200.000,NaN,Pauling scale: 2.04,192.0,rhombohedral

In [ ]:
pt.head(9)

Similarly, we can also have a look at the last few rows of our dataset. The `tail()` method will, by default, show the last five rows of the DataFrame. Similar to `head()`, we can pass a number into our method to modify how many rows are displayed. Let's take a look at the last three rows of the DataFrame.

In [ ]:
pt.tail(3)

We note that the tail of the DataFrame is empty (NaN = Not a Number). We will get back to this later. 

In addition to looking at the first or last few rows, it may be helpful to look at how many rows and columns are in the dataset. Letâ€™s take a look at the `shape` property.

In [ ]:
pt.shape

Here, the `pt` dataset is shown to have 111 rows and 15 columns. Based on our look at the `head()` and `tail()` of the dataset, we saw that the dataset started at index 0 and ran through index 110, confirming we have 111 total rows. But instead of just looking at how many rows, we may want to look at how many values within the dataset are missing. For this, we can call the `isnull()` method combined with `head()` for clarity.

In [ ]:
pt.isnull().head()

Here I captured the first 5 rows of the Dataframe. One of the great thing about Pandas and Python is that it allows you to stack methods and properties. What `isnull()` returns is a Boolean term for each value and tells us whether it is missing (is null, or True), or whether it is not missing (not null, or False). We see for example above that the element at index 1 has no electronegativity defined.

In [ ]:
pt.isnull().tail(30)

Here we see that starting index 86, all rows are null. 

Another way of looking at the null values is to stack another method onto the `isnull()` method. If we look at `isnull().sum()` we will see just how many null values there are in each columns.

In [ ]:
pt.isnull().sum()

25 corresponds to the last 25 null rows we have identified above however we see that there are some additional empty or null cells. For example, very few densities seem to be defined.

Another useful information is looking at what type of data we have in the dataset. To do this, we can use the `dtypes` property. This will give us a snapshot of what type of data is contained in each column.

In [ ]:
pt.dtypes

Here, we can see that we have floats (numbers with decimal places) and objects (strings).

If we want to display a summary of all the information in the Dataframe, one particularly useful method that we can call is `info()` which aggregates everything we discussed so far!

In [ ]:
pt.info()

Here we see that `pt` is a Dataframe. The `RangeIndex` tells us how many total entries there are, from index 0 to index 110 and `Data columns` shows us how many total columns there are - in this case we have 15 columns. Each individual column shows us how many entries there are, how many are null, and the type of that specific column. At the bottom, the dtypes shows us which data types we have, and how many of each. Finally, the memory usage shows us how much memory our DataFrame actually uses.

Additionally, `describe()` shows a quick statistic summary of your data, which can be useful when dealing with large numerical Dataframe.

In [ ]:
pt.describe()

Sometimes, we just want to transform the Dataframe to an array for further computation. `DataFrame.to_numpy()` gives a NumPy representation of the underlying data.

In [ ]:
pt.to_numpy()

Now let's get into the statistics. When doing machine learning it is important to understand the features and especially to identify any correlation between Series in a Dataframe. This can be achieved in one line.

In [ ]:
pt.corr()

The correlation coefficient ranges from -1 to 1. When it is close to 1, it means that there is strong positive correlation; for example, the atomic weight tends to increase with the atomic number. When the coefficient is close to -1, it means that there is strong negative correlation. Finally, coefficients close to 0 mean that there is no linear correlation.

### 3.2. Data selection

Selecting multiple columns returns a DataFrame, selecting a single column return a Series.

In [ ]:
pt[['density']]

In [ ]:
pt[['period','density']]

In [ ]:
pt[['density','period']] # you can decide the order

#### 3.2.1. The `.loc` indexer

The `.loc` indexer will return a single row as a Series when given a single row label. Let's select the row 0.

In [ ]:
pt.loc[0]

We now have a Series, where the old column names are now the index labels. The name of the Series has become the old index label, 0 in this case.
You can also select multiple rows by providing a list of indices, and slices as shown below.

In [ ]:
pt.loc[[0,10]] # Here I ask to select rows index 0 and 10

In [ ]:
pt.loc[0:10] # Here I ask to select all rows from 0 to 10

You can also select rows and columns simultaneously.

In [ ]:
pt.loc[[1,3,4],['density','electronegativity']] # I select densities and electronegativities of rows 1, 3 and 4

In [ ]:
pt.loc[:,['density','electronegativity']] # Here I select all the rows and some columns

You can also select all rows for which a given column has non null values. Here I select all rows with non null densities.

In [ ]:
pt.loc[pt['density'].notnull()]

And even add conditions such as all rows with 'melting point' larger than 3000 degrees.

In [ ]:
pt.loc[pt['melting point'] > 3000]

#### 3.2.2. The `.iloc` indexer

The `.iloc` indexer is very similar to `.loc` but only uses integer locations to make its selections. The word `.iloc` itself stands for integer location so that should help with remember what it does.

In [ ]:
pt.iloc[[5,2,4]]

We note that in the case of this specific DataFrame, the row header is actually an integer number so the `.loc` and `.iloc` selection are similar but the row header could also be a string.

With `.iloc` you can select slices, rows and column simultaneously, etc. These indexers are very powerful and you can perform operations much beyond the simple examples summarized in this Lab. In general you can easily select and clean your data before analysis. You can refer to the official documentation for further option on DataFrame selection.

## 4. Matplotlib

Altough Pandas has some plotting capabilities, Matplotlib is more commonly used because it can deal with many different datatypes (not only Dataframe but also lists, arrays, etc.).
Matplotlib is an excellent library of Python to visualize data. It is use by many scientists to generate figures in their publications or help them analyze data. Let's keep working with the `pt` dataset we loaded previously. We can represent the distribution of the data in each column with the following commands.

In [ ]:
import matplotlib # We first import the library
pt.hist(bins=10,figsize=(10,10)) # Here we ask to plot each float column as a distribution within 10 bins
# figsize define the size of each plot in inches

Now imagine I just want to plot the atomic number as a function of the atomic weight. We first create two Series and perform the plot with the `plot` command.

In [ ]:
import matplotlib.pyplot as plt # Here we call the long command 'matplotlib.pyplot' as 'plt'

x = pt['atomic number']
y = pt['atomic weight']
plt.plot(x,y,marker='o',lw=0)
plt.xlabel('atomic number')
plt.ylabel('atomic weight')

Here is another example of the vdW radius as a function of the atomic weight.

In [ ]:
x = pt['atomic weight']
y = pt['vdW radius']
plt.plot(x,y,marker='^',lw=1, color='red')
plt.xlabel('atomic weight')
plt.ylabel('vdW radius')

And below the density function of the atomic weight.

In [ ]:
x = pt['atomic weight']
y = pt['density']
plt.plot(x,y,marker='*',lw=0, color='k',ms=12)
plt.xlabel('atomic weight')
plt.ylabel('density')

Note that Python only show non null datapoints and ignore the rest.

Finally, one can use Pandas's `scatter_matrix` function, to plot every numerical attribute against every other. You can also provide in argument which attributes you would like to look at the correlation.

In [ ]:
from pandas.plotting import scatter_matrix

attributes = ['atomic number','atomic weight', 'melting point','boiling point','density','vdW radius']
scatter_matrix(pt[attributes],figsize=(12,12))

Beautiful! We can clearly see that atomic weight positively correlate with atomic number, as expected. Moreover, we see that density also correlates with atomic number and that melting point correlates with boiling points. The diagonal elements gives us a distribution of the attribute, as in `hist` plot above.

## 5. Quiz 2

__Q.1.__ Complete the function `rowscols` that takes a DataFrame as arguments and returns the number of rows and columns as the tuple (rows,cols). Note that this function is slightly different than the method `shape` that returns the tuple (cols,rows). Remember that to access an element of a tuple it is similar that to access an element of a list, by providing the index in between squared brackets (1 mark).

In [7]:
def rowscols(df):
    cols, rows = 0,0
    ### BEGIN SOLUTION
    ### END SOLUTION
    return (rows,cols)

__Q.2.__ Complete the function below that takes as argument a DataFrame and a column header and returns a Series containing only non null rows of the selected column header. For instance, this function with arguments `pt` and `'density'` would return a Series of all non null densities (1 mark).

In [ ]:
def nonnull(df,colname):
    nonnull_serie = pd.Series()
    ### BEGIN SOLUTION
    ### END SOLUTION
    return nonnull_serie

__Q.3.__ Define the __DataFrame__ `sub_pt` containing only 'melting point' and 'boiling point' for elements Beryllium (Be) throught Oxygen (O), based on the DataFrame `pt` (1 mark).

In [ ]:
### BEGIN SOLUTION
### END SOLUTION

__Q.4.__ Define the __Series__ `hexa` that contains the __name__ of all elements with hexagonal crystal structure (1 mark).

In [ ]:
### BEGIN SOLUTION
### END SOLUTION

__Q.5.__ Define the __Series__ `vdW250` that contains the __value of vdW radius__ greater than 250 pm (the unit used in the `pt` DataFrame) (2 marks).

In [ ]:
### BEGIN SOLUTION
### END SOLUTION

__Q.6.__ Define the __DataFrame__ `symbol_weight` containing __symbols__ and __atomic weights__ for cases where the atomic weight is non null (`.notnull()`) (2 marks).

In [ ]:
### BEGIN SOLUTION
### END SOLUTION